<img class="back-to-home" ng-click="go('/home')" src="img/arrow-back-icon.png" />

<div class="login container">
    <div class="row">
        <form class="form" ng-submit="doLogin()">
            <div class="wrapper">
                <div class="col-xs-12"><input type="text" class="form-control" ng-model="loginModel.login" placeholder="Usuário" required></div>
                <div class="col-xs-12 voffset2"><input type="password" class="form-control" ng-model="loginModel.password" placeholder="Senha" required></div>
                <div class="col-xs-12 voffset2">
                    <button class="btn main-button col-xs-12" ng-disabled="is.loading">
                        Login
                        <i class="fa fa-refresh  fa-spin fa-1x fa-fw" ng-if="is.loading"></i>
                    </button>
                </div>
                <p class="voffset2 text-center">Não é registrado ainda? <a href="#/register/">Crie uma conta</a></p>
                <p class="voffset2 text-center"><a href="#/forgot-password/">Esqueci minha senha</a></p>
            </div>
        </form>
    </div>
</div>