<img class="back-to-home" ng-click="go('/home')" src="img/arrow-back-icon.png" />

<div class="register container">
    <div class="row">

        <form class="form" ng-submit="register()">
            <div class="wrapper">
                <h1>Digite seus dados</h1>

                <!--<div class="col-xs-12 voffset4 picture">
                    <p class="text-left">Foto de Perfil: <i>Tamanho máx: 1MB</i></p>
                    <img ng-src="data:image/png;base64,{{registerModel.picture}}" />
                    <input type="file" class="fileInput form-control" accept="image/*" ng-model="registerModel.picture" base-sixty-four-input parser="addAndResizeImage" placeholder="Foto" required>
                </div>-->

                <div class="col-xs-12 voffset4"><input type="text" class="form-control" ng-model="registerModel.firstName" placeholder="Nome" required></div>
                <div class="col-xs-12 voffset2"><input type="text" class="form-control" ng-model="registerModel.lastName" placeholder="Sobrenome" required></div>

                <div class="col-xs-12 voffset2"><input type="text" class="form-control" ng-model="registerModel.cpf" placeholder="CPF" ui-br-cpf-mask required></div>

                <div class="col-xs-12 voffset2 loginFields clearfix">
                    <input type="text" class="form-control" ng-model="registerModel.login" placeholder="Nome de Usuário" required>
                    <button type="button" class="btn main-button" ng-click="checkLoginExists()" ng-disabled="is.loadingCheck">
                        Verificar
                        <i class="fa fa-refresh  fa-spin fa-1x fa-fw" ng-if="is.loadingCheck"></i>
                    </button>
                </div>

                <div class="col-xs-12 voffset2"><input type="password" class="form-control" ng-model="registerModel.password" placeholder="Senha" required></div>
                <div class="col-xs-12 voffset2"><input type="password" class="form-control" ng-model="registerModel.confirmPassword" placeholder="Confirme sua senha"
                        required></div>
                <div class="col-xs-12 voffset2"><input type="email" class="form-control" ng-model="registerModel.email" placeholder="Email" required></div>
                <div class="col-xs-12 voffset2"><input type="text" class="form-control" ng-model="registerModel.birthdate" placeholder="Data de nascimento"
                        ui-date-mask required></div>

                <div class="col-xs-12 voffset2 gender" ng-init="registerModel.gender = 'M'">
                    <p>Sexo: </p>
                    <label title="Masculino" class="male"><i class="fa fa-mars fa-fw"></i> <input type="radio" ng-model="registerModel.gender" value="M" /></label>
                    <label title="Feminino" class="female"><i class="fa fa-venus fa-fw"></i> <input type="radio" ng-model="registerModel.gender" value="F" /></label>
                    <label title="Outro" class="other"><i class="fa fa-genderless fa-fw"></i> <input type="radio" ng-model="registerModel.gender" value="O" /></label>
                </div>


                <div class="col-xs-12 voffset4">
                    <button class="btn main-button col-xs-12" ng-disabled="is.loading">
                        Criar
                        <i class="fa fa-refresh  fa-spin fa-1x fa-fw" ng-if="is.loading"></i>
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>