<img class="back-to-home" ng-click="go('/home')" src="img/arrow-back-icon.png" />

<div class="reset-password container">
    <div class="row">

        <form class="form" ng-submit="resetPassword()">
            <div class="wrapper">
                <h1>Nova Senha</h1>
                <div class="col-xs-12 voffset4"><input type="password" class="form-control" ng-model="resetModel.newPassword" placeholder="Digite sua nova senha"
                        required></div>
                <div class="col-xs-12 voffset2"><input type="password" class="form-control" ng-model="resetModel.confirmNewPassword" placeholder="Digite novamente sua senha"
                        required></div>
                <div class="col-xs-12 voffset2">
                    <button class="btn main-button col-xs-12" ng-disabled="is.loading">
                        Redefinir Senha
                        <i class="fa fa-refresh  fa-spin fa-1x fa-fw" ng-if="is.loading"></i>
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>